.pageup
    position: fixed
    display: block
    left: 0
    bottom: 0
    z-index: 5
    height: 100%
    width: 100px
    display: none
    &:hover
        background: rgba(236, 100, 75, .3)
    &__block
        position: absolute
        bottom: 70px
        display: flex
        justify-content: space-around
        font-size: 15px
        color: #f55a5a
        font-weight: 300
        width: 100%
        img
            height: 20px
            width: 20px
        