.shemes
    min-height: 454px
    padding: 51px 0 46px 0
    background-color: #f3f3f3
    .row
        padding-top: 29px
    &-items
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        // height: 145px
        &__title
            color: $main-color
            font-size: 16px
            font-weight: 700
        &__descr
            color: #3a3a3a
            font-size: 14px
            font-weight: 300
            line-height: 20px